page-order {

}
.slide-list{
	margin: 30px;
}
.sub-slide{
	margin-left: 20px;
	color: #FFF;
	font-size: 15pt;
}
.garis{
	height: 3px;
}
.bg-slide{
	background-color: #80DEEA;
}
.header-slide{
	color: #FFF;
	text-align: center;
	padding-top: 10px;
}
.imglist{
	height: 100%;
	width: 100%;
	background-color: #80DEEA;
	border-radius: 10px;
	text-align: center;
	border: solid 3px #FFF;
}
.center{
	text-align: center;
}
.teks-grid{
	color: #FFF;
	padding-top: 10px;
}
.sub-teks-grid{
	padding: 10px;
	font-style: italic;
	color: gray;
}