page-about {

}
.bgd{
	background-color: #F8F8F8;
}
.img-rounded{
	width: 80px;
	height: 80px;
	border-radius: 40px;
}
.tengah{
	text-align: center;
}
.bgakun{
	background-color: #F0F0F0;
}
.color-red{
	background-color: #FF0000;
}
.coror-white{
	background-color: #FFF;
}